<form accept-charset="UTF-8" name="contact" netlify>
  <input type="hidden" name="utf8" value="✓">
  <input name="name" type="text" placeholder="Name*" required/>
  <input name="email" type="email" placeholder="Email*" required/>
  <input name="telephone" type="telephone" placeholder="Telephone*" required/>
  <input name="url" type="text" placeholder="Website"/>
  <textarea name="message" type="message" rows="3" placeholder="How can we help you?"></textarea>
  <p class="u-textRight">
    <button type="submit" value="Send" role="button" class="Button t-button">Send</button>
  </p>
</form>
