

// --------------------------------------------------------------------------
//   BASE: LINK
// --------------------------------------------------------------------------


a {
	color: currentColor;
	text-decoration: none;

	@include on-event() {
		color: currentColor;
	}
}

//p a,
//li a {
//	@include on-event() {
//	}
//}
