

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// Post block in a list.
// When a post is also a link.
// These are vertically & horizontally centered.
// See: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
// --------------------------------------------------------------------------

@keyframes postZoom {
	0%   { transform: scale(1); }
	100% { transform: scale(1.75); }
}

a.Post--inList {
	@include complexLink();
	@include o-aligner;
	border: 0;
	margin-bottom: $blockSpace / 3;
	position: relative;

	+ .Post--inList {
		// margin-top: space(3.25);
		margin-top: $blockSpace / 2;
	}

	> .Post-aligner {
		@include o-aligner-item;
	}

	@include on-event() {
		.o-coverImage,
		.Post-image,
		.Post-coverImage {
			@include baseTransition();
			//animation: postZoom 80s infinite;
			opacity: 0.5;
		}
	}
}

.Post-image {
	margin-bottom: space(1);
}

.Post-meta {
	margin-top: space(0.25);
}

.Post-tag {
	@include textSm();
	color: palette(muted);
	margin-top: space(0.25);
}








.Post-hero {
	@include headerTextBlock();
	@include coverImage();
}

.Post-hero--inverse {
	@include reverseTextBlock();
}

.Post-content {
	// content: 'viewport-units-buggyfill; padding-bottom: calc(100vh);';
	padding: calc(#{$blockSpace} * 0.25) 0 calc(#{$blockSpace});
}



// different for blocks

@keyframes postZoom {
	0%   { transform: scale(1); }
	100% { transform: scale(1.75); }
}

// a.Post {
// 	@include complexLink();
// 	@include headerTextBlock();
// 	background-color: palette(neutral-dark);
// 	border: 0;
// 	content: 'viewport-units-buggyfill; padding: calc(5vh);';
// 	height: inherit;
// 	overflow: hidden;
// 	padding: 5vh;
// 	position: relative;
//
// 	&--inverse {
// 		@include reverseTextBlock();
// 	}
//
// 	@include on-event() {
// 		.o-coverImage,
// 		.Post-coverImage {
// 			// animation: postZoom 80s infinite;
// 			// opacity: 0.5;
// 			transform: scale(1.5);
// 			transition: opacity 1s ease, transform 80s ease;
// 		}
// 	}
// }



// .Post-coverImage {
// 	@include o-posFullScreen(absolute);
// 	transform: scale(1);
// 	transition: opacity 1s ease, transform 80s ease;
// }
//
// .Post-heroImage {
//
// }



// Project vars
// These vars are the "indexstyle" field in post._data
// --------------------------------------------------------------------------

// .Post--phn {
// 	// @include reverseTextBlock();
// 	// background-color: palette(project-phn);
//
// 	> .Post-coverImage {
// 		background-position-x: 110%;
// 		@include media-breakpoint-up(xl) { background-position-x: 70%; }
// 	}
// }
//
// .Post--ward6 {
// 	// @include reverseTextBlock();
// 	background-color: rgba( #014b56, 0.25) !important;
//
// 	> .Post-coverImage {
// 		background-position-x: 110%;
// 		@include media-breakpoint-up(xl) { background-position-x: 70%; }
// 	}
// }
