

// --------------------------------------------------------------------------
// TRUMPS: RESPONSIVE HELPERS
// --------------------------------------------------------------------------


@each $breakpoint in map-keys($grid-breakpoints) {

	// breakpoint upwards
	@include media-breakpoint-up($breakpoint) {

		// text alignment
		.u-#{$breakpoint}-textLeft             { text-align: left !important; }
		.u-#{$breakpoint}-textRight            { text-align: right !important; }
		.u-#{$breakpoint}-textCenter           { text-align: center !important; }

		// floats
		.u-#{$breakpoint}-floatLeft            { float: left !important }
		.u-#{$breakpoint}-floatRight           { float: right !important }

		// hide, block or flex
		.u-#{$breakpoint}-hide                  { display: none !important }
		.u-#{$breakpoint}-display               { display: block !important }
		.u-#{$breakpoint}-flex                  { display: flex !important }

		// flex alignments
		.u-#{$breakpoint}-flexAlignItemsCenter  { align-items: center !important; }
		.u-#{$breakpoint}-flexAlignItemsStretch { align-items: stretch !important; }
		.u-#{$breakpoint}-flexJustifyCenter     { justify-content: center !important; }
		.u-#{$breakpoint}-flexJustifyBetween    { justify-content: space-between !important; }
		.u-#{$breakpoint}-flexOrderFirst        { order: -1 !important; }
		.u-#{$breakpoint}-flexOrderLast         { order: 1 !important; }

	}
}





@include media-breakpoint-down(sm) {
	.u-mxs-size11of12 { width: 91.66666666666666% !important; }
	.u-msm-size6of12  { width: 50% !important; }
	.u-msm-size10of12 { width: 83.33333333333334% !important; }
}
