<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

<body>

    {{ content }}

    {% include icons.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.0/flickity.pkgd.min.js"></script>
    <script src="{{ site.javascriptsurl }}component.scrollspy.js"></script>
    <script src="{{ site.javascriptsurl }}component.flickity.js"></script>
    {% include google-analytics.html %}

</body>

</html>
