---
layout: default
---

<header class="c-header" role="banner">
  {% assign image = "header.jpg" %}
  {% include responsive-image.html %}

  <div class="c-header-wrapper">
    <div class="o-aligner">
      <div class="o-aligner-item">
        <div class="o-container c-hero">
          <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-size3of12">
              <figure class="c-logo">
                <a href="/"><img src="{{ site.imageurl }}logo.png" alt="" /></a>
              </figure>
            </div>
            <div class="Grid-cell u-sm-size9of12">
              <div class="o-aligner">
                <div class="o-aligner-item c-header-typeBlock">
                  <h1 class="c-headline">Aftermarket Dash-8 specialist. <span class="u-sm-lineBreak">Quality assured spares and support.</span></h1>
                  <p class="c-header-meta">
                    <span>
                      <svg class="o-icon o-icon--sm"><use xlink:href="#ic-location"></use></svg>
                      Cairns, Australia
                    </span>
                    <a href="tel:+610 409 263 767">
                      <svg class="o-icon o-icon--sm"><use xlink:href="#ic-call"></use></svg>
                      (+61) 0409 263 767
                    </a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-nav-wrapper">
    <div class="o-container">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-lg-size3of12 u-mobile-hide">
          <figure class="c-nav-logo o-aligner">
            <a class="o-aligner-item" href="/"><img src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" /></a>
          </figure>
        </div>
        <div class="Grid-cell u-lg-size9of12">
          <nav class="c-nav" id="nav">
              <!-- manual html setup to manipulate wording on mobile -->
              <div class="c-nav-item">
                <a href="#About">About</a>
              </div>
              <div class="c-nav-item">
                <a href="#Products">Products</a>
              </div>
              <div class="c-nav-item">
                <a href="#WorldwideDelivery">
                  <span class="u-smDown-hide">Worldwide</span> Delivery</a>
              </div>
              <div class="c-nav-item">
                <a href="#ServiceDeliveryValues">Values</a>
              </div>
              <div class="c-nav-item">
                <a href="#QualityAssurance">Quality</a>
              </div>
              <div class="c-nav-item">
                <a href="#OtherServices">Services</a>
              </div>
              <div class="c-nav-item">
                <a href="#ContactUs">Contact</a>
              </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="c-main" aria-label="Content">

  {% for section in page.sections %}
    <section
      class="c-section {% if section.background %}c-section--reverse{% endif %} {% if section.panel %}c-section--panel{% endif %}"
      id="{{ section.title | remove: ' ' }}">

      {% if section.background %}
        {% assign image = section.background %}
        {% assign absolute = true %}
        {% include responsive-image.html %}
      {% endif %}

      <div class="o-container">
        {% if section.images %}
          <figure class="carousel o-figure o-figure--carousel">
            {% for image in section.images %}
              <div class="carousel-cell">
                <img class="" alt="{{ alt }}" src="{{ site.imageurl }}{{ image }}" />
              </div>
            {% endfor %}
          </figure>
        {% endif %}

        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-sm-size3of12">
            <h2 class="">{{ section.title }}</h2>
          </div>
          <div class="Grid-cell u-sm-size9of12">
            {% if section.team %}
              <div class="c-team">
                <div class="Grid Grid--withGutter">
                  {% for member in site.data.team %}
                    <div class="Grid-cell u-size4of12">
                      <img src="{{ site.imageurl }}{{ member.name | downcase | replace: ' ', '-' }}.jpg" alt="{{ member.name }}">
                      <h3 class="">{{ member.name }}</h3>
                      <p class="">{{ member.title }}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            <div class="s-section">
              {{ section.copy | markdownify }}
              {% if section.form %}
                {% include form.html %}
              {% endif %}
            </div>
            {% if section.button %}
              {% include quality-button.html %}
            {% endif %}
          </div>

        </div>
      </div>
    </section>
  {% endfor %}

</main>

<footer class="c-footer">
  <div class="o-container">
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-sm-before3of12 u-sm-size9of12">
        <p class="">
          Copyright © 2016 Wild Aviation Services. <span class="u-smDown-lineBreak">Site by <a href="https://callumflack.design" target="_blank" rel="noopener noreferrer">Callum Flack Design</a>.</span></p>
      </div>
    </div>
  </div>
</footer>
